<h1>Admin Dashboard</h1>

<div>
  <p></p>
  <h4>Products</h4>
  <p>Products in inventory: <%= Product.count%> </p>
</div>

<div>
  <h4>Categories </h4>
  <p>Categories of products in inventory: <%= Category.count%></p>
</div>


